.SearchSong {
  width: calc(100vw - var(--aud-NavBar-width));
  height: calc(100vh - var(--aud-PlayBar-height) - var(--aud-StatusBar-height));
  background-color: var(--aud-primary);

  /* Flex == "page location" */
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: start;
  justify-content: start;
  text-align: left;

  scroll-behavior: smooth;
  overflow-y: 'scroll';
}

.ScrollView {
  width: calc(100vw - var(--aud-NavBar-width));
  height: calc(100vh - var(--aud-PlayBar-height) - var(--aud-StatusBar-height));
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  align-content: center;
  text-align: center;
  
  overflow-y: scroll;
}

.SearchBox {
  /* Background */
  width: var(--aud-Search-width);
  background-color: var(--aud-background);
  padding: 12px 24px;
  margin: 8px 0;

  border: solid var(--aud-focus);
  border-radius: 25px;

  /* Text */
  color: var(--aud-text);
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.Divider {
  width: calc(var(--aud-Search-width) + var(--aud-Search-divider));
  height: 0px;
  background-color: var(--aud-error);
  margin: 8px 0px;

  border: solid var(--aud-focus);
  border-width: 2px;
}

.ResultWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}