.Login {
    width: 100vw;
    height: calc(100vh - 27px);
    background-color: var(--aud-background);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.StatusBarProxy {
    width: 100vw;
    height: calc(27px);
    background-color: var(--aud-secondary);
}

.loginButton {
    height: 10%;
    width: 20%;
    min-width: 100px;
    min-height: 50px;
    border-style:double;
    border-color: var(--aud-background);
    border-radius: 105px;
    background-color: var(--aud-secondary);
    color: var(--aud-background);
    font-style: italic;
    font-weight: bold;
    font-size: 25pt; 
}

.loginButton:hover {
    background-color: green;
    color: white;
}