.MainPage {
  width: calc(100vw - var(--aud-NavBar-width));
  height: calc(100vh - var(--aud-PlayBar-height) - var(--aud-StatusBar-height));
  background-color: var(--aud-error);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
}

.App-MainPage-and-PlayBar {
  background-color: var(--aud-error);
  display: flex;
  flex-direction: column;
}
