.MainPage {
  width: calc(100vw - 100px);
  height: calc(100vh - 120px - 27px);
  background-color: var(--aud-error);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
