.Box {
  width: var(--aud-navBar-width);
  height: calc(var(--aud-navBar-width) - 10px);
  background-color: var(--aud-background);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Icon {
  width: 60px;
  height: 60px;
  background-color: var(--aud-primary);
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black; /* For text color */
}

.PNG {
  width: 45px;
  height: 45px;
}

.Selected {
  width: 66px;
  height: 66px;
  background-color: var(--aud-secondary);
  border-radius: 50%;
  /* display: inline-block; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.NotSelected {
  width: 66px;
  height: 66px;
  background-color: var(--aud-focus);
  border-radius: 50%;
  /* display: inline-block; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
