.PlayBar {
  width: calc(100vw - 100px);
  height: 100px;
  background-color: var(--aud-background);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fullContainer {
  display: flex;
  flex-direction: row;
}

.App-MainPage-and-PlayBar {
  background-color: var(--aud-error);
  display: flex;
  flex-direction: column;
}