.PlayBar {
  width: calc(100vw - 100px);
  height: 100px;
  background-color: var(--aud-background);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
