.StatusBar {
  width: 100vw;
  height: 27px;
  background-color: var(--aud-secondary);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.App-NavBar-and-MainPage {
  background-color: var(--aud-error);
  display: flex;
  flex-direction: row;
}