.App {
  width: 100vw;
  height: 100vh;
  color: var(--aud-text);
  background-color: var(--aud-error); /* You never want to see this! */

  /* NOTE: These are arbitrary, just trying to prevent the app from becoming to small in-browser. */
  /* Would be nice if we can find a way to prevent the screen from resizing, and keep an aspect ratio. */
  min-width: 1000px;
  min-height: 600px;
}

.App-NavBar-and-MainPage {
  background-color: var(--aud-error);
  display: flex;
  flex-direction: row;
}

.App-MainPage-and-PlayBar {
  background-color: var(--aud-error);
  display: flex;
  flex-direction: column;
}
