:root {
  /* Using ':root' to store globals of custom color-scheme */
  --aud-error: #bd1ab5;
  --aud-secondary: #e1b20f;
  --aud-text: #a6a9ad;
  --aud-focus: #4d535b;
  --aud-primary: #303238;
  --aud-background: #24282b;

  --aud-StatusBar-height: 27px;
  --aud-NavBar-width: 100px;
  --aud-PlayBar-height: 120px;

  --aud-Search-width: 1050px;
  --aud-Search-divider: 100px;
  --aud-Search-offset: 50px;
  --aud-Search-height: 100px;
  --aud-Search-left-width: 100px;
  --aud-Search-right-width: 300px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
