/* Using ':root' to store globals of pre-defined colors */
:root {
  --aud-error: #bd1ab5;
  --aud-primary: #303238;
  --aud-secondary: #e1b20f;
  --aud-background: #24282b;

  --aud-text: #a6a9ad;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
